# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

*.xcuserstate
*.xcuserdata/


# SwiftPM
.swiftpm/
.build/

# Misc
*.DS_Store
*.idea/

